@charset "utf-8";
/* utf-8設定 */

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 481px)  { 
  .nonemode {
    display: none;
  }
  
  .allfilehidden {
    display: none;
  }
  
  .sportslist-animation-mode {
    animation: fadeIn 3s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
  
  body {
    background: linear-gradient(45deg, #8e44ad, #3498db);
    display: flex;
    flex-direction: column;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 100px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
  }
  
  .login-container1 {
    display: none;
  }
  
  .memulist-1-text {
    all: unset;
    color: aqua;
  }
  
  .memu-logo {
    padding: 5px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  .title3 {
    padding-top: 10px;
    padding-left: 10px;
  }
  
  article {
    display: flex;
  }
  
  .memu-logo-text {
    padding-top: 25px;
    padding-left: 20px;
    color: black;
  }
  
  section {
    margin-top: 20px;
    margin-bottom: 200px;
    border-radius: 10px;
    width: 1250px;
    margin-left: 20px;
  }
  
  .tab {
    max-width: 800px;
    margin-top: 120px;
    color: black;
  }
  
  /* タブメニュー */
  .tab__menu {
    display: flex;
    align-items: flex-end;
    /* メニューを下揃え&高さを調整 */
    justify-content: center;
    min-height: 50px;
    /* メニュー切替時にタブがズレないように */
    padding: 0;
    margin: 0;
  }
  
  .tab__menu-item {
    list-style: none;
    width: 200px;
    padding: 8px 5px;
    /* メニューに高さを付ける */
    text-align: center;
    margin-right: 6px;
    background-color: #cdcdcd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: all .3s;
    /* アニメーション */
  }
  
  .tab__menu-item:last-of-type {
    margin-right: 0px;
  }
  
  /* is-activeがついている時のスタイル */
  .tab__menu-item.is-active {
    background-color: rgba(48, 172, 249);
    color: #ffffff;
    padding: 12px 5px;
  }
  
  /* タブパネル */
  .tab__panel {
    width: 100%;
  }
  
  .tab__panel-box {
    min-height: 400px;
    /* テキスト量が多くなっても対応できるように */
    padding: 10px 30px;
    border-radius: 10px;
    width: 1000px;
  }
  
  .tab__panel-box001 {
    background-color: rgb(205, 246, 246);
    display: none;
  }
  
  .tab__panel-box002 {
    background-color: rgb(249 227 243);
    display: none;
  }
  
  .tab__panel-box003 {
    background-color: rgb(200, 248, 195);
    display: none;
  }
  
  .tab__panel-box004 {
    background-color: rgb(200, 248, 195);
    display: none;
  }
  
  /* is-showがついている時のスタイル */
  .tab__panel-box.is-show {
    display: block;
  }
  
  .logo {
    text-align: center;
    border-radius: 50%;
  }
  
  .title {
    color: black;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid red;
    padding-bottom: 20px;
  }
  
  .subtitle {
    text-align: center;
    color: lightcoral;
    padding-top: 20px;
  
  }
  
  .main-club-memu {
    padding-left: 15px;
    animation: fadeIn 3s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
  
  
  .NEWStitletext {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }
  
  .sportslist {
    padding-left: 30px;
    padding-top: 50px;
  }
  
  .sportslisttitle {
    border-bottom: 1px solid black;
  }
  
  .copyright {
    padding-left: 30px;
    color: black;
  }
  
  .money {
    padding-top: 10px;
    margin-top: 50px;
    border: 2px rebeccapurple solid;
    border-radius: 10px;
  }
  
  .news1 {
    margin-top: 50px;
    padding-top: 10px;
    border: 2px rebeccapurple solid;
    border-radius: 10px;
  }
  
  .form2 {
    display: block;
    padding-top: 10px;
    margin-top: 50px;
    border: 2px rebeccapurple solid;
    border-radius: 10px;
  }
  
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 2rem;
    height: 2rem;
    border: 2px solid #cccccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    position: relative;
    padding: 0;
  }
  input[type="radio"]:checked {
    border-color: rebeccapurple;
  }
  input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background: rebeccapurple;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  label {
    display: inline-flex;
    align-items: center;
  }
  
  .mycard {
    border: rebeccapurple 1px solid;
    border-radius: 10px;
  }
  
  .mycardtitle {
    padding-left: 5px;
  }
  
  .appboxliststyle {
    border: #8e44ad 1px solid;
    background-color: #3498db;
    border-radius: 20px;
    padding: 10px 10px 5px 5px;
    margin: 5px 5px 5px 5px;
    display: flex;
  }
  
  .appbox1 {
    border: #8e44ad 1px solid;
    background-color: #8e44ad;
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
  }
  
  .appbox2 {
    border: #8e44ad 1px solid;
    background-color: #8e44ad;
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
    margin-left: 20px;
  }
  
  .appbox3 {
    border: #8e44ad 1px solid;
    background-color: #8e44ad;
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
    margin-left: 20px;
  }
  
  .batu {
    display: none;
  }
  
  .appiconslist {
    display: flex;
    flex-direction: row;
  }
  
  .appicon1 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .appicon2 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .appicon3 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .appicon4 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .appicon5 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .appicon6 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .appicon7 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .appicon8 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .appicon9 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .calendarpage {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .backsbutton {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #ee6354;
    border-radius: 10px;
  }
  
  .loader-off {
    display: none;
  }
  
  .loader {
    color: #1c0303;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  .operatormenu-off {
    display: none;
  }
  
  .weatherForecast {
    width: 840px;
    height: 120px;
    display: flex;
    text-align: center;
    border: 1px solid #000;
  }
  
  .weather {
    width: calc(100% / 7);
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #666;
  }
  
  .weather > div {
    height: 20%;
    font-size: 14px;
  }
  
  .weatherImg {
    height: 42%;
  }
  
  .tempMin {
    color: blue;
  }
  
  .tempMax {
    color: red;
  }
  
  
}


@media screen and (max-width: 480px)  { 
  .nonemode {
    display: none;
  }
  
  .allfilehidden {
    display: none;
  }
  
  .sportslist-animation-mode {
    animation: fadeIn 3s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
  
  body {
    background: linear-gradient(45deg, #8e44ad, #3498db);
    display: flex;
    flex-direction: column;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 100px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
  }
  
  .login-container1 {
    display: none;
  }
  
  .memulist-1-text {
    all: unset;
    color: aqua;
  }
  
  .memu-logo {
    padding: 5px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  .title3 {
    padding-top: 10px;
    padding-left: 10px;
  }
  
  article {
    display: flex;
  }
  
  .memu-logo-text {
    padding-top: 25px;
    padding-left: 20px;
    color: black;
  }
  
  section {
    margin-top: 20px;
    margin-bottom: 200px;
    border-radius: 10px;
    width: 1250px;
    margin-left: 20px;
  }
  
  .tab {
    max-width: 800px;
    margin-top: 120px;
    color: black;
  }
  
  .title {
    color: black;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid red;
    padding-bottom: 20px;
  }
  
  .subtitle {
    text-align: center;
    color: lightcoral;
    padding-top: 20px;
  
  }
  
  .main-club-memu {
    padding-left: 15px;
    animation: fadeIn 3s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
  
  
  .NEWStitletext {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }
  
  .sportslist {
    padding-left: 30px;
    padding-top: 50px;
  }
  
  .sportslisttitle {
    border-bottom: 1px solid black;
  }
  
  .copyright {
    padding-left: 30px;
    color: black;
  }
  
  .money {
    padding-top: 10px;
    margin-top: 50px;
    border: 2px rebeccapurple solid;
    border-radius: 10px;
  }
  
  .news1 {
    margin-top: 50px;
    padding-top: 10px;
    border: 2px rebeccapurple solid;
    border-radius: 10px;
    overflow-wrap: break-word;
  }
  
  .form2 {
    display: block;
    padding-top: 10px;
    margin-top: 50px;
    border: 2px rebeccapurple solid;
    border-radius: 10px;
  }
  
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 2rem;
    height: 2rem;
    border: 2px solid #cccccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    position: relative;
    padding: 0;
  }
  input[type="radio"]:checked {
    border-color: rebeccapurple;
  }
  input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background: rebeccapurple;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  label {
    display: inline-flex;
    align-items: center;
  }
  
  .mycard {
    border: rebeccapurple 1px solid;
    border-radius: 10px;
  }
  
  .mycardtitle {
    padding-left: 5px;
  }
  
  .appboxliststyle {
    border: #8e44ad 1px solid;
    background-color: #3498db;
    border-radius: 20px;
    padding: 10px 10px 5px 5px;
    margin: 5px 5px 5px 5px;
    display: flex;
  }
  
  .appbox1 {
    border: #8e44ad 1px solid;
    background-color: #8e44ad;
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
  }
  
  .appbox2 {
    border: #8e44ad 1px solid;
    background-color: #8e44ad;
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
    margin-left: 20px;
  }
  
  .appbox3 {
    border: #8e44ad 1px solid;
    background-color: #8e44ad;
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
    margin-left: 20px;
  }
  
  .batu {
    display: none;
  }
  
  .appiconslist {
    display: flex;
    flex-direction: row;
  }
  
  .appicon1 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .appicon2 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .appicon3 {
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #37beb0;
    margin-top: 20px;
  }
  
  .calendarpage {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .backsbutton {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #ee6354;
    border-radius: 10px;
  }
   /* ローダー */
  .loader-off {
    display: none;
  }
  
  .loader {
    color: #1c0303;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .operatormenu-off {
    display: none;
  }
  
  .weatherForecast {
    width: 840px;
    height: 120px;
    display: flex;
    text-align: center;
    border: 1px solid #000;
  }
  
  .weather {
    width: calc(100% / 7);
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #666;
  }
  
  .weather > div {
    height: 20%;
    font-size: 14px;
  }
  
  .weatherImg {
    height: 42%;
  }
  
  .tempMin {
    color: blue;
  }
  
  .tempMax {
    color: red;
  }
}

